<div class="container-fluid">
    <div>
        <label *ngIf="!signUpMode && !signInMode">Sign in or create a new account to use the app</label>
        <label *ngIf="signInMode">Sign In to use the app</label>
        <label *ngIf="signUpMode">Creating a new account</label>
    </div>

    <button class="btn btn-primary" *ngIf="!signUpMode && !signInMode" (click)="toSignUp()">Sign Up</button>
    <button class="btn btn-primary" *ngIf="!signUpMode && !signInMode" (click)="toSignIn()">Sign In</button>

    <div *ngIf="signUpMode">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div class="form-control">
                <label for="name" class="form-label">Name</label>
                <input type="name" id="name" class="form-control" formControlName="name">

                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" class="form-control" formControlName="email">

                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password">

                <label for="age" class="form-label">Age</label>
                <input type="number" id="age" class="form-control" formControlName="age">
            </div>
            <div>
                <button class="btn btn-primary" type="submit" [disabled]="!signUpForm.valid">Sign Up</button>
            </div>
        </form>
    </div>

    <div *ngIf="signInMode">
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <div class="form-control">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" class="form-control" formControlName="email">

                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password">
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Sign In</button>
            </div>
        </form>
    </div>
</div>