// devices' sizes

$Mobile: 320px;
$Tablet: 768px;
$Laptop: 1024px;
$Desktop: 1366px;
// media queries

@mixin Responsive($canvas) {
    @if $canvas == Mobile {
        @media only screen and (min-width: $Mobile) {
            @content;
        }
    } @else if $canvas == Tablet {
        @media only screen and (min-width: $Tablet) {
            @content;
        }
    } @else if $canvas == Laptop {
        @media only screen and (min-width: $Laptop) {
            @content;
        }
    } @else if $canvas == Desktop {
        @media only screen and (min-width: $Desktop) {
            @content;
        }
    }
}