<div class="authentication">
    <div class="item">
        <div class="label">
            <h5>WELCOME TO ANGULAR TODO APP</h5>
        </div>

        <div class="button">
            <label>Sign in or create a new account to use the app</label>
            <a class="nav-link" [routerLink]="['signup']"><button class="btn btn-primary">Sign
                    Up</button></a>
            <a class="nav-link" [routerLink]="['signin']"><button class="btn btn-primary">Sign
                    In</button></a>
        </div>

    </div>
</div>