@import '/src/assets/style/mixin';

.authentication{
   
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.15);
    @include Responsive(Mobile) {
        margin: 20px 0px;
        &-label{
            text-align: center;
            h5{
                margin-top: 5px;
                font-size: 14px;
            };
        }
        &-button {
            label{
                font-size: 13px;
                display: block;
            }

            button{
                display: inline-block;
            }
        }
    }

    @include Responsive(Tablet){
        margin: 30px;
        &-label{
            text-align: center;
            h5{
                margin-top: 5px;
                font-size: 20px;
            };
        }
        &-button {
            label{
                font-size: 18px;
                display: block;
            }

            button{
                display: inline-block;
            }
        }
    }
    
    @include Responsive(Laptop) {
        margin: 40px;
        &-label{
            h5{
                margin-top: 5px;
                font-size: 26px;
            };
        }
        &-button {
            label{
                font-size: 22px;
                display: block;
            }

            button{
                display: inline-block;
            }
        }
    }

    &-label{
        text-align: center;
    }
    &-button{
        text-align: center;
        button{
            border-radius: 10px;
        }
    }
}
    

.btn-primary {
    margin: 10px;
}