<div class="calendar">
    <div class="icon">
        <div class="month">{{date| date : 'MMM' | uppercase}}</div>
        <div class="date">{{date | date : 'd'}}</div>
    </div>
    <div class="label">
        Today
    </div>

    <button class="button" (click)="onLogout()">Logout</button>
</div>
<div class="list-navigation" clickOutside (clickOutside)="clickedOutside()">
    <div class="ellipsis" (click)="menuToggle()">
        <svg-icon src="/assets/svg/ellipsis-normal.svg" [svgStyle]="{ 'height.px':19 ,'width.px':18 }">
        </svg-icon>
    </div>

    <ng-container *ngIf="isMenuOpen">
        <div class="ellipsis-after">
            <div class="ellipsis-afters"></div>
            <svg-icon src="/assets/svg/ellipsis-after.svg" [svgStyle]="{ 'height.px':19 ,'width.px':18 }">
            </svg-icon>
        </div>


        <div class="items">
            <div class="name" (click)="onStatusChange(TodoEnum.COMPLETED)"
                [class.active]="currentMode === TodoEnum.COMPLETED">Completed
            </div>
            <div class="name" (click)="onStatusChange(TodoEnum.INPROGRESS)"
                [class.active]="currentMode === TodoEnum.INPROGRESS">In Progress
            </div>
        </div>
    </ng-container>


</div>