@import '/src/assets/style/mixin';

.todo {
    padding: 40px;
    color: #323232;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    @include Responsive(Mobile) {
        padding: 20px;
    }
    @include Responsive(Tablet) {
        padding: 30px;
    }
    @include Responsive(Laptop) {
        padding: 40px;
    }
}
