// devices' sizes

$Mobile:     320px;   
$Tablet:     768px;  
$Laptop:    1024px;      
// media queries

@mixin Responsive($canvas) {
  @if $canvas == Mobile {
   @media only screen and (min-width: $Mobile) { @content; } 
  }
  @else if $canvas == Tablet {
   @media only screen and (min-width: $Tablet) { @content; } 
  }
  @else if $canvas == Laptop {
   @media only screen and (min-width: $Laptop) { @content; } 
  }
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.75);
    z-index: 50;
    
    backdrop-filter: blur(10px);
}

.alert-box{
    border-radius: 15px;
    position: fixed;
    top: 10vh;
    left: 30vw;
    width: 40vw;
    height: auto;
    padding: 16px;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);

    @include Responsive(Mobile){
        top: 10vh;
        left: 5vw;
        width: 90vw;
        height: auto;
    }

    @include Responsive(Tablet) {
        top: 10vh;
        left: 20vw;
        width: 60vw;
        height: auto;
    }

    @include Responsive(Laptop) {
        top: 10vh;
        left: 25vw;
        width: 50vw;
        height: auto;
    }

    &-spinner{
        display: flex;
        justify-content: center;
    }

    &-button{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        justify-content: center;

        button{
            display: inline-block;
        }
        
    }
}