<div class="calendar">
    <div class="calendar-icon">
        <div class="calendar-icon-month">{{month | uppercase | slice:0:3}}</div>
        <div class="calendar-icon-date">{{today}}</div>
    </div>
    <div class="calendar-label">
        Today
    </div>
</div>
<div class="list-navigation">
    <div class="list-navigation-ellipsis">
        <div class="list-navigation-ellipsis">
            <svg width="19" height="5" viewBox="0 0 19 5" fill="none">
                <circle cx="2.8" cy="2.5" r="2.5" fill="#C4C4C4" />
                <circle cx="9.5" cy="2.5" r="2.5" fill="#C4C4C4" />
                <circle cx="16.1" cy="2.5" r="2.5" fill="#C4C4C4" />
            </svg>
        </div>
    </div>
    <ul class="list-navigation-list">
        <li class="list-navigation-items"><a role="button" (click)="toCompletedMode()">Completed</a></li>
        <li class="list-navigation-items"><a role="button" (click)="toInProgressMode()">In Progress</a></li>
        <li class="list-navigation-items"><a role="button" (click)="toRemovedMode()">Removed</a></li>
    </ul>
</div>