<div class="list">
    <ul class="list-{{currentModeChange}}">
        <li class="list-{{currentModeChange}}-item" *ngFor="let todoItem of getCurrentList()">


        </li>
    </ul>
    <form *ngIf="currentModeChange == 'inprogress'" [formGroup]="todoListForm" (ngSubmit)="onSubmit()">
        <div class="row form-group">
            <div class="col-1"><button class="btn btn-primary" type="submit" [disabled]="!todoListForm.valid">+</button>
            </div>
            <div class="col-11">
                <input type="text" id="todo" class="form-control" formControlName="todo">
            </div>
        </div>
    </form>
</div>

<!-- 
<div class="list-{{currentModeChange}}-item-complete">
    <button class="btn btn-secondary" type="button" *ngIf="currentModeChange == 'inprogress'"
        (click)="onComplete(todoItem,inputtext.value)">#</button>
</div>
<div class="col-auto ms-auto" style="display: inline-block">
    <button class="btn btn-primary" type="button" *ngIf="currentModeChange == 'removed'"
        (click)="onUpdate(todoItem,inputtext.value)">+</button>
</div>
<div class="col-auto ms-auto" style="display: inline-block">
    <button class="btn btn-secondary" *ngIf="currentModeChange == 'completed'">#</button>
</div>
<div class="list-{{currentModeChange}}-item-edit">
    <input type="text" value="{{todoItem.todo}}" #inputtext>
</div>
<div class="list-{{currentModeChange}}-item-complete" style="display: inline-block">
    <button class="btn btn-danger" type="button" (click)="onUpdate(todoItem,inputtext.value)"
        *ngIf="currentModeChange == 'inprogress'">x</button>
</div> -->