<div class="list">
    <ul class="todo">
        <ng-container *ngFor="let todoItem of todoLists$ | async">

            <!-- INPROGRESS LIST -->
            <div class="item" *ngIf="currentStatusChange == todoEnum.INPROGRESS && todoItem.completed === false">
                <div class="inprogress">
                    <div class="complete" (clickOutside)="onEdit(todoItem, inputtext.value, true)">
                        <div class="complete-button" (click)="onEdit(todoItem, inputtext.value, false)">
                            <svg-icon src="/assets/svg/complete-todo.svg" [svgStyle]="{ 'height.px':25
                             ,'width.px':25 }">
                            </svg-icon>
                        </div>
                    </div>
                    <div class="edit">
                        <input type="text" value="{{todoItem.description}}" #inputtext>
                    </div>
                    <div class="remove">
                        <div class="remove-button" (click)="onRemove(todoItem)">
                            <svg-icon src="/assets/svg/remove-todo.svg" [svgStyle]="{ 'height.px':37 ,'width.px':36 }">
                            </svg-icon>
                        </div>
                    </div>
                </div>
            </div>

            <!-- COMPLETE LIST -->
            <div class="items" *ngIf="currentStatusChange == todoEnum.COMPLETED && todoItem.completed === true">
                <div class="completed">
                    <div class="complete">
                        <svg-icon src="/assets/svg/completed-todo.svg" [svgStyle]="{ 'height.px':25 ,'width.px':25 }">
                        </svg-icon>
                    </div>
                    <div class="label">
                        <p>{{todoItem.description}}</p>
                    </div>
                </div>
            </div>
        </ng-container>
    </ul>

    <!-- ADD FORM -->
    <div class="todo" *ngIf="currentStatusChange==todoEnum.INPROGRESS">
        <div class="newitem">
            <form [formGroup]="todoListForm" (ngSubmit)="onSubmit()">
                <div class="create">
                    <div class="add-button icon" (click)="onSubmit()">
                        <svg-icon src="/assets/svg/add-todo.svg" [svgStyle]="{ 'height.px':25 ,'width.px':25 }">
                        </svg-icon>
                    </div>
                    <div (click)="onAddMode()" *ngIf="!addMode" class="label">
                        <label>Create New Item</label>
                    </div>
                    <div class="input" *ngIf="addMode">
                        <input type="text" id="todo" formControlName="description">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>